* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.holiday-gift{
    background-image: url("../Assets/deel-1/hero-banner.png");
    height: 68vh;
    background-position: center;
    background-size: cover;
    color: whitesmoke;
}