* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    width: 34%;
}
#Section1 {
    height: auto;
    background-color: orange;
}

.Navigation {
    height: auto;
    background-color: black;
}

#SonyHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 45px;
}

#divSonyLogo {
    width: 100px;
    height: auto;
    margin-right: 10px;
}

#sonyLogo {
    width: 100%;
    height: auto;
}

#NavigationBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 75px;
    background-color: white;
}

.fa-chevron-down{
    color: darkgray;
}
#LeftSide {
    display: flex;
    align-items: center;
}

#RightSide {
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

}

#blueSonyLogo {
    height: auto;
    width: 60px;
    margin-left: 15px;
    margin-right: 10px;
}

#ulNavigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    font-family: Arial, sans-serif;
    align-items: center;
}
#ulNavigation li {
    margin-right: 15px;
}
#Sign\ In
{
    height:27px;
    width: 85px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border: #35383d;
    background-color: #35383d;
    color: white;
    border-radius: 18px;
    margin-right: 20px;
}
.fa-solid
{
    margin-right: 20px;
}
#section2{

}
#hero-banner{
    display: flex;
    justify-content: center;
    height: 712px;
    width: 100%;
    background-image: url("../Assets/deel-1/hero-banner.png ");
    background-size: cover;
    font-family: "Arial", sans-serif;
    background-position: center;
}
#HolidayGift h1{
    font-size: 50px;
    margin: 20px;
}
#HolidayGift{
    font-size: 20px ;
}
#HolidayGift button{
    background-color: red;
    color: whitesmoke;
    height: 38px;
    width: 120px;
    border-radius: 25px;
    margin: 20px;
    border-width: 0;
}
#HolidayGift{
    color: whitesmoke;
    justify-content: center;
    text-align: center;
    width: 800px;
    margin-top: 20px;

}

#ImageBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
    background-color: white;
    width: 100%;


}
#ImageBox img{
    height: auto;
    width: 270px;
    margin: 15px 5px 15px 5px;
    border-radius: 15px;
    transition: ease 0.3s;
    border: solid white 3px;
    justify-content: space-around;
    opacity: 70%;
}
#ImageBox img:hover{

    box-shadow: 0 0 0 2px blue;
    opacity: 100%;
}
.far-cry-section{
    background-image: url("../Assets/deel-1/far-cry-banner.png");
    height: 70vh;
    background-size: cover;
    color: white;
    padding: 5vh 10vh;
}.far-cry-section > p{
    font-weight: lighter;
    font-size: 15pt;
    color: lightgrey;
    width: 34%;
    margin: 2vh 0;
 }
 .far-cry-section > a{
     background-color: white;
     color: black;
 }
 .far-cry-section h1{
     font-weight: lighter;
 }
 .pill-shape{
     border-radius: 25px;
     text-decoration: none;
     padding: 1px 10px 3px;
     font-size: 10px;
 }
.far-cry-section_cards{
    display: flex;
    justify-content: space-between;
}
.far-cry-section_card{
    width: 28%;
}
.far-cry-section_cards img{
    width: 100%;
}
.far-cry-section_cards a{
height: 22vh;
    display: flex;
}
.far-cry-section_cards p{
    font-size: 10pt;
    text-align: center;
}



#section2{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
#sec2header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#sec2header h4{
    color: #307efc;
    font-size: 13px;
    margin-bottom: 2px;
}
#sec2header h2{
    margin-bottom: 5px;
}
#sec2middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;

}
#sec2middle img{
    width: 500px;
    height: auto;
}
#leftsidemiddle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
}
#leftsidemiddle h1, h5, button{
    margin: 10px;
}
#leftsidemiddle button{
    border-radius: 20px;
    border-width: 0px;
    background-color: #1651f5;
    color: white;
    width: 100px;
    height: 33px;
}
#sec2bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
#sec2bottom div{
    margin: 20px;
    opacity: 70%;
    transition: ease 0.3s;
    text-align: center;
}
.boxsec2{
    display: flex;
    flex-direction: column;
    margin-top: 23px !important;
    align-items: center;
}
.boxsec2 img{
    width: 250px;
    height: auto;
    margin-bottom:10px;
}

.boxsec2large img
{
    width: 150px;
    height: auto;
}
#sec2bottom div:hover{
    opacity: 100%;
}


